{{#each mediaArr as |media| }}
<div class="card-container {{media.mediatype}}">

    <div class="card-info" data-title="{{ media.title }}" data-poster="{{media.poster_path}}" data-id='{{ media.id }}'
        data-type="media" data-description='{{media.overview}}' data-todo="{{media.todo}}">

        <img src="{{media.poster_path}}" alt="{{media.mediatype}}" class="card-image">
        <div class="card-title">{{media.title}}</div>

        <select class="myRating">
            <option value="0">No Rating</option>
            <option value="2">⭐</option>
            <option value="4">⭐⭐</option>
            <option value="6">⭐⭐⭐</option>
            <option value="8">⭐⭐⭐⭐</option>
            <option value="10">⭐⭐⭐⭐⭐</option>
        </select>

        <select class="changeStatus">
            <option value="0" {{#if media.todo0}} selected="" {{/if}}>Watching</option>
            <option value="2" {{#if media.todo2}} selected="" {{/if}}>Want to Watch</option>
            <option value="4" {{#if media.todo4}} selected="" {{/if}}>Completed</option>
            <option value="6" {{#if media.todo6}} selected="" {{/if}}>Dropped</option>
        </select>
    </div>
</div>
{{/each}}