<div class="results">
    <h2>Your search results for: query</h2>
</div>
{{#each movies as |movie| }}
<div class="results-container">
    <div class="card-info" data-title="{{ movie.title }}" data-date="{{ movie.release_date }}"
        data-poster="{{movie.poster_path}}">
        <img src="{{movie.poster_path}}" alt="Movie" class="card-image" data-poster-path="{{ movie.poster_path }}">

        <div class="card-title" data-movie-title="{{ movie.title }}">{{ movie.title }}</div>

        <div class="card-title" data-release-date="{{ movie.release_date }}">{{ movie.release_date }}</div>

        <div class="card-title">{{ movie.overview }}</div>

        <div class="myRating">
        </div>

        {{> changeStatus }}

    </div>
</div>
{{/each}}