<div class="results">
    <h2>Your search results for: query</h2>
</div>
{{#each movies as |movie| }}
<div class="results-container">
    <div class="card-info" data-title="{{ movie.title }}" data-date="{{ movie.release_date }}" data-poster="{{movie.poster_path}}" >
        <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt="Movie" class="card-image" data-poster-path="{{ movie.poster_path }}">
      
        <div class="card-title" data-movie-title="{{ movie.title }}">{{ movie.title }}</div>
       
        <div class="card-title" data-release-date="{{ movie.release_date }}">{{ movie.release_date }}</div>
       
        <div class="card-title">{{ movie.overview }}</div>

        <div class="myRating">
            Add to my list:
        </div>
       
        <select class="changeStatus">
            <option value="0" selected="">Watching</option>
            <option value="2">Want to Watch</option>
            <option value="4">Complete</option>

        </select>
    </div>
</div>
{{/each}} 