<div class="results">
    <h2>Top 25 Trending TV Shows</h2>
</div>
{{#each tv as |tv|}}
<div class="results-container">
    <div class="card-info" data-title="{{ tv.name }}" data-date="{{ tv.release_date }}" data-poster="{{tv.poster_path}}"
        data-id='{{ tv.id }}' data-type="tv" data-description='{{tv.overview}}'>
        <img src="{{tv.poster_path}}" alt="tv" class="card-image">

        <div class=" title-date card-title">{{tv.name}}{{!-- ({{tv.first_air_date}}) --}}</div>

        <div class="description"> {{tv.overview}} </div>

        <div class="myRating">
        </div>

        {{> changeStatus }}

    </div>
</div>
{{/each}}